@model IEnumerable<NotebookApp.Models.Equipo>

@{
    ViewData["Title"] = "Index";
    var permitirEliminar = (Dictionary<int, bool>)ViewBag.PermitirEliminar;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            @if (item.Disponibilidad)
            {
                 <td>
                    Disponible
                 </td>
            }
            else
            {
                 <td>
                    Prestado
                 </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipoId">Edit</a> |
                @if (permitirEliminar[item.EquipoId] == false)
                {
                    <a asp-action="Delete" asp-route-id="@item.EquipoId" class="btn btn-danger btn-sm">Eliminar</a>
                }
                else
                {
                    <span class="text-muted">-</span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
